
/* font-family: 'Rubik Glitch', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* font-family: 'VT323', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=VT323&display=swap');
/*font-family: 'Turret Road', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');

body {
  margin: 0;
}

.slides {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

/* .slides {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto; 
  scroll-snap-type: block mandatory;
} */

/*Contenedor principal*/
.slide-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../Images/imagen-grande.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  background-color: black;
}

video {
  position: relative;
  height: 100%;
  left: -430px;
  animation: video 7s;
}

@keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.slide-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: cortina 1 2s; 
  animation-fill-mode: forwards;
}

@keyframes cortina {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  to {
    clip-path: polygon(0 0, 15% 0, 30% 100%, 0% 100%);
  }
}

.slide-titulo h1 {
  padding: 0 80px;
  background-color: black;
  color: #fff;
  font-family: 'Turret Road', cursive;
  font-size: 70px;
  animation-name: flicker;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
  
  /* animation: titulo 2s;
  animation-fill-mode: none forwards;
  animation: flicker 1.5s infinite alternate; */
}

.contenedor-titulo {
  animation: titulo 2s;
  animation-fill-mode: forwards;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }

}

@keyframes titulo {
  from {
    transform: translateX(100px);
  }
  
  to {
    transform: translateX(-980px);
  }
}



/*contenedor secundario*/

.slide-container {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: aliceblue;
  transition: opacity 10s;
}

.scrolled.slide-left{
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-rigth {
  animation: slide-in-rigth 1s ease-in-out both;
}


@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0
  }
  100% {
    transform: translateX();
    opacity: 1;
  }
}

@keyframes slide-in-rigth {
  0% {
    transform: translateX(1000px);
    opacity: 0
  }
  100% {
    transform: translateX();
    opacity: 1;
  }
} 



/* footer {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
  height: 50px;
  background-color: black;
}

footer p {
  color: white;
} */