
/* font-family: 'Rubik Glitch', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* font-family: 'VT323', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=VT323&display=swap');
/*font-family: 'Turret Road', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.slides {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

/*Contenedor principal*/

.slide-principal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../Images/Fondo.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

 .slide-principal .fondo-1{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

/*Animacion banner lateral izq*/

.contenedor-cortina {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: cortina 1 2s; 
  animation-fill-mode: forwards;
}

@keyframes cortina {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 15% 0, 30% 100%, 0% 100%);
  }
}

.contenedor-cortina video {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  animation: video 7s;
}

@keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  left: 0;
  animation: titulo 2s;
  animation-fill-mode: forwards;
  width: 450px;
  background-color: black;
}

.contenedor-titulo p {
  margin: 0;
  color: #0fa;
  padding-left: 150px;
  width: 100%;
  font-family: 'Turret Road', cursive;
  font-size: 30px;
  animation-name: flicker;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
}

.contenedor-titulo h1 {
  margin: 0;
  color: #fff;
  font-family: 'Turret Road', cursive;
  font-size: 70px;
  animation-name: flicker;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes titulo {
  from {
    transform: translateX(980px);
  }
  to {
    transform: translateX(0px);
  }
}

.texto-nav {
  display: flex;
  gap: 30px;
  font-size: 15px;
  color: #0fa;
  position: absolute;
  top: 15px;
  right: 50px;
  font-family: 'Turret Road', cursive;
  background-color: #1d1f20;
  border-radius: 15px;
}

.texto-nav a {
  padding: 10px;
  text-decoration: none;
}

.texto-nav a:hover {
  scale: 1.2 ;
  transition: 0.5s;
} 

.texto-nav a:link {
  color: #0fa;
} 

.texto-nav a:visited {
  color: #0fa;; 
} 

.scaner2 {
  background-color: rgba(0, 255, 170, 0.702);
  position: absolute;
  width: 950px;
  height: 4px;
  bottom: 30px;
  right: 220px;
  animation-name: flicker2;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
}

@keyframes flicker2 {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
  box-shadow: 
  0 0 3px #fff,
  0 0 6px #fff,
  0 0 15px #fff,
  0 0 30px #0fa,
  0 0 60px #0fa,
  0 0 80px #0fa,
  0 0 98px #0fa,
  0 0 120px #0fa;
  }
  20%, 24%, 55% {
    box-shadow: none;
  }
}

/*Animacion Paralax*/

.slide-principal .fondo-2 {
  position: absolute;
  bottom: calc(var(--y)/80);
  right: calc(var(--x)/80);
  /* left: 10px; */
  width: 100%;
  height: 100vh;
}

.slide-principal .fondo-3 {
  position: absolute;
  bottom: calc(var(--y)/-80);
  right: calc(var(--x)/-80);
  /* left: 50px; */
  width: 100%;
  height: 100vh;
}

.slide-principal .icono1  {
  position: absolute;
  bottom: calc(var(--y)/80);
  right: calc(var(--x)/80);
  width: 100%;
  height: 100vh;
}

.slide-principal .icono2 {
  position: absolute;
  bottom: calc(var(--y)/-30);
  right: calc(var(--x)/-30);
  width: 100%;
  height: 100vh;
}

.slide-principal .icono3 {
  position: absolute;
  bottom: calc(var(--y)/70);
  right: calc(var(--x)/70);
  width: 100%;
  height: 100vh;
}

.slide-principal .icono4 {
  position: absolute;
  bottom: calc(var(--y)/-60);
  right: calc(var(--x)/-60);
  width: 100%;
  height: 100vh;
}

.slide-principal .icono5 {
  position: absolute;
  bottom: calc(var(--y)/-60);
  right: calc(var(--x)/-60);
  width: 100%;
  height: 100vh;
}


/*contenedor secundario slide 2*/

.slide1 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../Images/fondo-slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.slide-container.slide-left{
  position: relative;
  --borderWidth: 5px;
  display: flex;
  flex-direction: column;
  background-color: #1d1f20;
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 15s;
  
}

.slide-container.slide-left:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animategradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animategradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .slide-container .scaner {
  background-color: #0fa;
  width: 100%;
  height: 100%;
} */

.contenedor-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.609);
  border-radius: calc(2 * var(--borderWidth));
}

.contenedor-texto h1 {
  text-align: center;
  color: #0fa;
  font-family: 'Turret Road', cursive;
  font-size: 50px;
}

.contenedor-texto p {
  padding: 0 50px;
  text-align: center;
  color: #0fa;
  font-family: 'Turret Road', cursive;
  font-size: 30px;
  text-justify: auto;
}

.scrolled.slide-left {
  animation: slide-in-left 2s ease-in-out both; 
}

.scrolled.scaner {
  position: absolute;
  animation: scaner 3s linear;
  animation-fill-mode: forwards;

}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0
  }
  100% {
    transform: translateX();
    opacity: 1;
  }
}

@keyframes scaner {
  0% {
    clip-path: polygon(89% 0, 100% 0%, 75% 100%, 62% 100%);
    opacity: 1;

  }
  50% {
    clip-path: polygon(29% 0, 40% 0, 0 100%, 0 78%);
  }
  100%{
    clip-path: polygon(11% 0, 18% 0, 0 33%, 0 21%);
    opacity: 0;
  }
}

.scaner3 {
  background-color: rgba(0, 255, 170, 0.702);
  position: absolute;
  width: 1450px;
  height: 4px;
  bottom: 20px;
  right: 300px;
  animation-name: flicker2;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
}

/*contenedor secundario slide 3*/

.slide2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../Images/fondo-slide3..jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.slide-container.slide-rigth {
  position: absolute;
  --borderWidth: 5px;
  display: flex;
  flex-direction: column;
  background-color: #1d1f20;
  width: 40%;
  height: 60%;
  justify-content: center;
  align-items: center;
  transition: opacity 15s;
  right: 0;
}

.slide-container.slide-rigth:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animategradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.scrolled.slide-rigth {
  animation: slide-rigth 2s ease-in-out both; 
}

.scrolled.scaner {
  position: absolute;
  animation: scaner 3s linear;
  animation-fill-mode: forwards;
}

@keyframes slide-rigth {
  0% {
    transform: translateX(100px);
    opacity: 0
  }
  100% {
    transform: translateX();
    opacity: 1;
  }
}
.contenedor-texto.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-texto .equipo2 {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.contenedor-texto .equipo2 img{
  border-radius: 20px;
  margin: 30px;
  height: 400px;
}

.equipo2 a:hover{
  scale: 1.2;
  transition: 2s;
}

.scaner4 {
  background-color: rgba(0, 255, 170, 0.702);
  position: absolute;
  width: 720px;
  height: 4px;
  bottom: 20px;
  left: 90px;
  animation-name: flicker2;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
}

/*contenedor secundario slide 3*/

.slide3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../Images/fondo-final.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  gap: 50px;
}

.slide-container.slide-center.plataforma{
  --borderWidth: 5px;
  display: flex;
  flex-direction: column;
  background-color: #1d1f20;
  width: 40%;
  height: 15%;
  justify-content: center;
  align-items: center;
  transition: opacity 15s;
}

.slide-container.slide-center.plataforma:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animategradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.scrolled.slide-center {
  animation: slide-center 2s ease-in-out both; 
}


@keyframes slide-center {
  0% {
    transform: translatey(-100px);
    opacity: 0
  }
  100% {
    transform: translatey();
    opacity: 1;
  }
}

.slide-container.slide-center.redes{
  --borderWidth: 5px;
  display: flex;
  flex-direction: column;
  background-color: #1d1f20;
  width: 40%;
  height: 15%;
  justify-content: center;
  align-items: center;
  transition: opacity 15s;
  top: 500px;
}

.slide-container.slide-center.redes{
  --borderWidth: 5px;
  display: flex;
  flex-direction: column;
  background-color: #1d1f20;
  width: 40%;
  height: 15%;
  justify-content: center;
  align-items: center;
  transition: opacity 15s;
  top: 500px;
}

.slide-container.slide-center.redes:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animategradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.redes h1 {
  font-size: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redes p {
  font-size: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redessociales img {
  height: 70px;
  width: auto;
}

.redessociales img:hover {
  scale: 1.2;
  transition: 0.5s all;
}

.redessociales {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.video-final {
  position: absolute;
  height: 100%;
  top: 0;
  left: 150px;
  animation: video 7s;
}
.scaner5 {
  background-color: rgba(0, 255, 170, 0.702);
  position: absolute;
  width: 1600px;
  height: 4px;
  bottom: 20px;
  left: 90px;
  animation-name: flicker2;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
}

/*Ultimo slide pece out*/

.peace-out {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 1080px;
  width: 1920px;
  color: #5073b8;
  font-family: 'VT323', monospace;
  font-size: 50px;
  text-decoration: none;
}

.slide-container a {
  text-decoration: none;
}

.scaner6 {
  background-color: rgba(0, 255, 170, 0.702);
  position: absolute;
  width: 700px;
  height: 4px;
  bottom: 450px;
  left: 600px;
  animation-name: flicker2;
  animation-duration: 1.5s ;
  animation-iteration-count: infinite ;
  animation-delay: alternate ;
}